.navLeft {
  height: 90px;
  line-height: 90px;
  background-color: #002140;
}
.navLeft img {
  height: 48px;
  line-height: 48px;
  padding-left: 20px;
}
.navLeft h1 {
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  font-size: 20px;
}
