/** 常用色值 **/
/** 常用字体大小 **/
.header {
  background-color: colorM;
}
.header .header1-left {
  width: 100%;
  height: 62px;
  line-height: 62px;
  text-align: center;
  background-color: #1890ff;
}
.header .header1-left img {
  height: 62px;
  vertical-align: top;
}
.header .header1-left span {
  margin-left: 25px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.header .header1 {
  text-align: right;
  width: 100%;
  height: 55px;
  line-height: 55px;
  padding: 0 50px;
}
.header .header1 span {
  font-weight: bold;
  font-size: 17px;
  margin-right: 20px;
}
.header .header2 {
  border-top: 1px solid #f9c700;
  height: 42px;
  line-height: 42px;
}
.header .header2 .header2-left {
  text-align: center;
  font-size: 19px;
}
.header .header2 .header2-left h2 {
  font-weight: 500;
}
.header .header2 .header2-left h2::after {
  content: '';
  border-top: 30px solid #ffffff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  position: absolute;
  left: 138px;
  top: 30px;
}
.header .header2 .header2-right {
  text-align: right;
  font-size: 18px;
}
.header .header2 .header2-right h2 {
  font-weight: bold;
  margin-right: 80px;
}
